.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #000000; /* Dark background for contrast */
  color: #FFFFFF; /* White text */
}

section {
  padding: 100px 20px; /* Increased padding to accommodate sticky navbar */
}

section:nth-child(even) {
  background-color: #1A1A1A; /* Dark gray for even sections */
}

section:nth-child(odd) {
  background-color: #333333; /* Slightly lighter dark gray for odd sections */
}

h1 {
  margin: 0 0 20px;
  color: #FFFFFF; /* White text */
}

p {
  margin: 0 0 40px;
  font-size: 18px;
  line-height: 1.6;
  color: #FFFFFF; /* White text */
}
