.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #000000; /* Dark background for contrast */
  color: #FFFFFF; /* White text */
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
}

.main-content {
  display: flex;
  height: 100vh; /* Full viewport height */
}

.content {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:black; /* Dark gray background for the photo section */
}

.profile-image-wrapper {
  position: relative;
  width: 300px; /* Adjust the size as needed */
  height: 300px; /* Adjust the size as needed */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.profile-image-wrapper::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px double lightgreen;
  box-shadow: 0 0 15px lightgreen, 0 0 25px lightgreen, 0 0 35px lightgreen; /* Glowing effect */
  pointer-events: none;
}

