.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #000000; 
  color: #FFFFFF;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
}

.main-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 80px);
  padding: 0 50px;
}

.content {
  flex: 1;
}

.photo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.profile-image-wrapper {
  position: relative;
  width: 350px; 
  height: 350px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}

.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  animation: pulse 3s infinite; 
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.profile-image-wrapper::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px double #00A97F;
  pointer-events: none;
}

h1 {
  font-size: 36px;
}

h1 span {
  color: #00A97F;
}

h2 {
  font-size: 24px;
  color: gray;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

.icon-button {
  background-color: #000000;
  padding: 12px;
  color: #00A97F;
  border: 2px solid #00A97F;
  border-radius: 30px;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.icon-button:hover {
  background-color: #00A97F;
  color: #000000;
  transform: scale(1.1);
}

.button-group a, .button {
  margin-right: 7px;
}

.button {
  --color: #00A97F;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

.button::before, .button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before, .button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: rgb(10, 25, 30);
}

.button:active {
  filter: brightness(0.8);
}

.pattern-image {
  position: absolute;
  top: 265px; 
  left: 950px; 
  width: 40px;
  height: 40px; 
}

.pattern-img {
  position: absolute;
  top: 460px; 
  left: 1230px;
  width: 100px; 
  height: 100px; 
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .navbar {
    margin-left: 0;
    padding: 15px;
  }
  
  .navbar-links {
    margin-right: 0;
    justify-content: center;
  }
  
  .btn {
    margin-top: 5px; /* Adjusted to move the button up */
  }

  .profile-image-wrapper {
    width: 250px; /* Adjusted for responsiveness */
    height: 250px; /* Adjusted for responsiveness */
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }

  .navbar-links .new {
    font-size: 18px;
    padding: 5px;
  }
  
  .btn {
    padding: 5px 10px;
    font-size: 16px;
    margin-top: 5px; /* Adjusted to move the button up */
  }

  .main-content {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .photo, .content {
    width: 100%;
    justify-content: center;
  }

  .photo {
    margin-top: 20px;
  }

  .profile-image-wrapper {
    width: 200px; /* Adjusted for responsiveness */
    height: 200px; /* Adjusted for responsiveness */
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 8px;
  }

  .navbar-links {
    gap: 10px;
    justify-content: space-between;
  }

  .navbar-links .new {
    font-size: 16px;
    padding: 4px;
  }
  
  .btn {
    padding: 4px 8px;
    font-size: 14px;
    margin-top: 5px; /* Adjusted to move the button up */
  }

  .main-content {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .photo, .content {
    width: 100%;
    justify-content: center;
  }

  .photo {
    margin-top: 20px;
  }

  .profile-image-wrapper {
    width: 150px; /* Adjusted for responsiveness */
    height: 150px; /* Adjusted for responsiveness */
  }
}
