.about-me-container {
  margin-left: 100px;
}

.text-warning {
  color: #ffcc00; 
}

/* Additional styling for the 'mockup-code' class, if necessary */
.mockup-code {
  font-family: 'Courier New', Courier, monospace; /* This makes the code look like it’s in a terminal */
  white-space: pre-wrap; /* Ensures that text wraps inside the code block */
}

